<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>LeafTaps</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a81e8">  <td>18/09/15 10:41:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Edit_Lead.editLead()[pri:0, instance:week4.day2.TC001_Edit_Lead@20322d26]">editLead</td> 
  <td>TestNG-test=Functional-1@1053476566</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/09/15 10:41:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeafTapsLearnings.createLead()[pri:0, instance:week4.day2.LeafTapsLearnings@64bf3bbf]">createLead</td> 
  <td>TestNG-test=Functional-2@606842898</td>   <td></td> </tr>
</table>
