<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Practice_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aba872">  <td>18/09/22 21:14:27</td>   <td>0</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:week4.day2.LeafTapsLearnings@3108bc]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/22 21:13:49</td>   <td>-37860</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:week4.day2.LeafTapsLearnings@3108bc]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/22 21:13:49</td>   <td>-38244</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:week4.day2.LeafTapsLearnings@3108bc]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/22 21:14:10</td>   <td>-17306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week4.day2.LeafTapsLearnings@3108bc]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/22 21:14:27</td>   <td>-162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week4.day2.LeafTapsLearnings@3108bc]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/09/22 21:14:01</td>   <td>-26492</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeafTapsLearnings.createLead()[pri:0, instance:week4.day2.LeafTapsLearnings@3108bc]">createLead</td> 
  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/09/22 21:14:18</td>   <td>-8817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeafTapsLearnings.createLead()[pri:0, instance:week4.day2.LeafTapsLearnings@3108bc]">createLead</td> 
  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/09/22 21:14:27</td>   <td>-70</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_Delete_Lead.deleteLead()[pri:0, instance:week4.day2.TC002_Delete_Lead@5f9d02cb]">deleteLead</td> 
  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/09/22 21:14:27</td>   <td>-84</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Edit_Lead.editLead()[pri:0, instance:week4.day2.TC001_Edit_Lead@370736d9]">editLead</td> 
  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/22 21:13:49</td>   <td>-37821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:week4.day2.LeafTapsLearnings@3108bc]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/22 21:14:10</td>   <td>-17200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:week4.day2.LeafTapsLearnings@3108bc]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/09/22 21:13:49</td>   <td>-37876</td> <td>&nbsp;</td><td title="&gt;&gt;LeafTapsLearnings.setData()[pri:0, instance:week4.day2.LeafTapsLearnings@3108bc]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/09/22 21:13:49</td>   <td>-37876</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_Edit_Lead.setData()[pri:0, instance:week4.day2.TC001_Edit_Lead@370736d9]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/09/22 21:13:49</td>   <td>-37875</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_Delete_Lead.setData()[pri:0, instance:week4.day2.TC002_Delete_Lead@5f9d02cb]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
</table>
