<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FreshSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aba872">  <td>18/09/23 10:54:15</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:week6.day2.LeafTapsLearnings@6b09bb57]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/09/23 10:54:15</td>   <td>145</td> <td>&nbsp;</td><td title="&gt;&gt;LeafTapsLearnings.setData()[pri:0, instance:week6.day2.LeafTapsLearnings@6b09bb57]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/23 10:54:15</td>   <td>150</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:week6.day2.LeafTapsLearnings@6b09bb57]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/23 10:54:15</td>   <td>660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day2.LeafTapsLearnings@6b09bb57]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/09/23 10:54:25</td>   <td>10490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeafTapsLearnings.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day2.LeafTapsLearnings@6b09bb57]">createLead</td> 
  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/23 10:54:31</td>   <td>16366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week6.day2.LeafTapsLearnings@6b09bb57]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/23 10:54:31</td>   <td>16477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day2.LeafTapsLearnings@6b09bb57]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/09/23 10:54:40</td>   <td>25631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeafTapsLearnings.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day2.LeafTapsLearnings@6b09bb57]">createLead</td> 
  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/23 10:54:48</td>   <td>33132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week6.day2.LeafTapsLearnings@6b09bb57]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/23 10:54:48</td>   <td>33229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day2.LeafTapsLearnings@6b09bb57]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/09/23 10:54:58</td>   <td>43988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeafTapsLearnings.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day2.LeafTapsLearnings@6b09bb57]">createLead</td> 
  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/23 10:55:05</td>   <td>50268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week6.day2.LeafTapsLearnings@6b09bb57]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/23 10:55:05</td>   <td>50350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day2.LeafTapsLearnings@6b09bb57]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/09/23 10:55:13</td>   <td>58540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeafTapsLearnings.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day2.LeafTapsLearnings@6b09bb57]">createLead</td> 
  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/23 10:55:19</td>   <td>64132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week6.day2.LeafTapsLearnings@6b09bb57]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/23 10:55:19</td>   <td>64296</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:week6.day2.LeafTapsLearnings@6b09bb57]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
</table>
