<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>GroupSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aba872">  <td>18/09/22 23:30:26</td>   <td>0</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:week6.day1.LeafTapsLearnings@3108bc]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/22 23:30:06</td>   <td>-19798</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:week6.day1.LeafTapsLearnings@3108bc]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/22 23:30:06</td>   <td>-20160</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:week6.day1.LeafTapsLearnings@3108bc]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/22 23:30:26</td>   <td>-182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week6.day1.LeafTapsLearnings@3108bc]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/09/22 23:30:17</td>   <td>-9037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeafTapsLearnings.createLead()[pri:0, instance:week6.day1.LeafTapsLearnings@3108bc]">createLead</td> 
  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/22 23:30:06</td>   <td>-19756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:week6.day1.LeafTapsLearnings@3108bc]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/09/22 23:30:06</td>   <td>-19811</td> <td>&nbsp;</td><td title="&gt;&gt;LeafTapsLearnings.setData()[pri:0, instance:week6.day1.LeafTapsLearnings@3108bc]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
</table>
