<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="af90ec">  <td>18/09/29 17:55:07</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods2.beforeSuite()[pri:0, instance:testcase.CreateLeadUsingPOM@5f9d02cb]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/09/29 17:55:07</td>   <td>140</td> <td>&nbsp;</td><td title="&gt;&gt;CreateLeadUsingPOM.setData()[pri:0, instance:testcase.CreateLeadUsingPOM@5f9d02cb]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/29 17:55:07</td>   <td>142</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods2.beforeClass()[pri:0, instance:testcase.CreateLeadUsingPOM@5f9d02cb]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/09/29 17:55:07</td>   <td>626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeadUsingPOM.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase.CreateLeadUsingPOM@5f9d02cb]">createLead</td> 
  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/09/29 17:55:07</td>   <td>635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeadUsingPOM.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase.CreateLeadUsingPOM@5f9d02cb]">createLead</td> 
  <td>main@841283083</td>   <td></td> </tr>
</table>
