<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>POM_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aba872">  <td>18/09/30 18:01:01</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods2.beforeSuite()[pri:0, instance:week7.day2.CreateLeadUsingPOM@6b09bb57]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/09/30 18:01:01</td>   <td>144</td> <td>&nbsp;</td><td title="&gt;&gt;CreateLeadUsingPOM.setData()[pri:0, instance:week7.day2.CreateLeadUsingPOM@6b09bb57]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/30 18:01:01</td>   <td>151</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods2.beforeClass()[pri:0, instance:week7.day2.CreateLeadUsingPOM@6b09bb57]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/30 18:01:02</td>   <td>625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods2.login(java.lang.String)[pri:0, instance:week7.day2.CreateLeadUsingPOM@6b09bb57]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/09/30 18:01:09</td>   <td>7641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeadUsingPOM.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week7.day2.CreateLeadUsingPOM@6b09bb57]">createLead</td> 
  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/30 18:01:29</td>   <td>27662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods2.closeApp()[pri:0, instance:week7.day2.CreateLeadUsingPOM@6b09bb57]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/30 18:01:31</td>   <td>30055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods2.login(java.lang.String)[pri:0, instance:week7.day2.CreateLeadUsingPOM@6b09bb57]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/09/30 18:01:37</td>   <td>35490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeadUsingPOM.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week7.day2.CreateLeadUsingPOM@6b09bb57]">createLead</td> 
  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/30 18:01:54</td>   <td>52904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods2.closeApp()[pri:0, instance:week7.day2.CreateLeadUsingPOM@6b09bb57]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/30 18:01:56</td>   <td>55094</td> <td title="&lt;&lt;ProjectMethods2.afterSuite()[pri:0, instance:week7.day2.CreateLeadUsingPOM@6b09bb57]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
</table>
