<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Sequential</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6297b6">  <td>18/09/15 10:59:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Edit_Lead.editLead()[pri:0, instance:week4.day2.TC001_Edit_Lead@148080bb]">editLead</td> 
  <td>TestNG-test=Functional-2@987453784</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>18/09/15 10:59:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_Duplicate_Lead.duplicateLead()[pri:0, instance:week4.day2.TC003_Duplicate_Lead@10bdf5e5]">duplicateLead</td> 
  <td>TestNG-test=Functional-4@1977829567</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/09/15 10:59:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeafTapsLearnings.createLead()[pri:0, instance:week4.day2.LeafTapsLearnings@64bfbc86]">createLead</td> 
  <td>TestNG-test=Functional-1@1896459230</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/09/15 10:59:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_Delete_Lead.deleteLead()[pri:0, instance:week4.day2.TC002_Delete_Lead@dc24521]">deleteLead</td> 
  <td>TestNG-test=Functional-3@869510895</td>   <td></td> </tr>
</table>
